@charset "utf-8";
/* CSS Document */
a.dropdown-toggle::after { 
	display:none;
}

.dropdown a{
	color: white;
}

.dropdown a:hover{
	text-decoration: none;
    color:#CACACA;
}

.user-header{
	text-align: center;
}

.pull-left{
	float:left;
	padding-left: 10px;
}

.push-right{
	float:right;
	padding-right: 10px;
}

#wrapper{
    width:100%;
}

#sidebar{
	z-index:1;
	position:fixed;
	width:15%;
	height:100%;
    top:0;
    left:0;
	overflow-x: hidden;
	transition: all 200ms linear;
}

.sidebar-nav{
	padding-left:0;
	list-style: none;
	padding-top:56px;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display:block;
	text-decoration: none;
	color:#2E2E2E;
}

.sidebar-nav li a:hover{
	background:#242020;
	color:white;
}

.active{
	background:#242020;
	color:white !important;
}

.navbar:hover{
    color:white;
}

#content{
	padding-top:56px;
    width: 85%;
	position:absolute;
	transition: all 200ms linear;
    margin-left: 15%;
}

#wrapper.menuClosed #sidebar{
	width:0;
}

#wrapper.menuClosed #content{
	margin-left:0;
    width:100%;
	transition: all 200ms linear;
}
